html {
  background-color: black;
}
body {
  border: 2px solid white;
  width: 100px;
}
#content-wrapper {
  padding: 5px 0px;
  background-color: black;
}
#value_num {
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
}
span {
  text-align: center;
  color: white;
  display: block;
}
